<%- include ('partials/header'); -%>

<div>
    <div class="header">
        <h1 style='font-size: 60px'>Video Game Store</h1>
    </div>
    <div class="topnav">
      <a href = "/">Home</a>
      <a href="/user">User Account</a>
      <a href = "/search">Search</a>
      <a href="/gameList"><strong>Game List</strong></a>
      <a href = "/cart">Cart</a>
      <a href="/logout">Log Out</a>
    </div>   
    </div>
        
        <div class='container'>
            <div class='jumbotron'>
                <div align='center'>
                    <div id="content">
                        <h2><strong>Games in Database</strong></h2>
                    </div>
                </br>
                </div>
            </div>
    	
    	<%gamesInfo.forEach(function(games){%>
    	
            <figure id="results">
                
            <img src='<%=games.image%>' width='200' id="images">
            <h5>Game Name: <%=games.name%></h5>
            <h5>Year Made: <%=games.yearMade%></h5>
            <h5>Genre: <%=games.genre%></h5>
            <h5>Summary: <%=games.summary%></h5>
            
            <br>
            
            <form action="/cart/<%=games.gameId%>/add" method="GET">
            
			<button class='btn btn-primary btn-block'>Add to Cart</button>
			
			</form>
            
            </figure>
            
        <%});%>
		
<%- include ('partials/footer'); -%>