<%- include ('partials/header'); -%>

<div>
    <div class="header">
        <h1 style='font-size: 60px'>My Games</h1>
    </div>
    <div class="topnav">
      <a href = "/">Home</a>
      <a href="/user">User Account</a>
      <a href = "/search">Search</a>
      <a href="/gameList"><strong>Game List</strong></a>
      <a href = "/cart">Cart</a>
      <a href="/logout">Log Out</a>
    </div>   
    </div>
        
        <div class='container'>
            <div class='jumbotron'>
                <div align='center'>
                    <div id="content">
                        <h2><strong>Purchase History</strong></h2>
                    </div>
                </br>
                </div>
            </div>
    	
    	<%gamesInfo.forEach(function(games){%>
    	
            <figure id="results">
                
            <img src='<%=games.image%>' width='200' id="images">
            <h5><strong>Game Name: </strong><%=games.name%></h5>
            <h5><strong>Year Made: </strong><%=games.yearMade%></h5>
            <h5><strong>Genre: </strong><%=games.genre%></h5>
            <h5><strong>Summary: </strong><%=games.summary%></h5>
            
            <br>
            
            </figure>
            
        <%});%>
		
<%- include ('partials/footer'); -%>